.home-section {
    height: 100vh;
}

.description-part {
    background-color: #232F3E;
    padding-top: 87px;
}

.description-title {
    padding-top: 70px;
    padding-bottom: 70px;
    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    color: #FFFFFF;
}

.box {
    display: flex;
    flex-flow: column;
    height: 100%;
}

.row {
    margin: 0 !important;
}

.box .row.header {
    flex: 0 1 auto;
}

.box .row.content {
    flex: 1 1 auto;
}

.box .row.footer {
    flex: 0 1 40px;
}