header {
    width: 100%;
    position: absolute;
    height: 70px;
    display: flex;
    align-items: center;
}

.header-nav {
    width: 100%;
}

.Table-column {
    display: table !important;;
}

.Table-cell-div {
    display: table-cell !important;;
    vertical-align: middle !important;;
}

.App-logo {
    width: 140px;
}

.Arrow-down {
    width: 10px;
    height: 10px;
}

.Nav-item-left {
    margin-right: 40px;
}

.Nav-items-div {
    text-align: right;
}

.Contact-buttom {
    color: black !important;
    background: #FF9D00 !important;
    border-radius: 15px !important;
    border-style: none !important;
    width: 101px !important;
    height: 51px !important;
}

a {
    text-decoration: none !important;
    color: black !important;
}

a:hover {
    cursor: pointer;
}