.contact-section {
    height: 100vh;
    padding-top: 87px;
}

.contact-part {
    background-color: #232F3E;
    height: 182px;
}

.contact-title {
    padding-bottom: 10px;
    font-weight: 300;
    font-size: 32px;
    text-align: center;
    color: #FFFFFF;
    text-align: center;
}

.contact-subtitle {
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    color: #FFFFFF;
    text-align: center;
}

.information-row {
    display: table-cell;
    vertical-align: middle;
}

@media(min-width:0px) and (max-width:991px) {

    .contact-section {
        padding-top: 0px;
    }
}